.bankrupt-page {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	
	&__title {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		width: 100%;
		padding: 40px;
	}
	
	&__bg-image {
		position: absolute;
		object-fit: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}