.profession-card {
	color: black;
	width: 450px;
	
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	& .incomes {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
			
		.incomes {			
			&__title {
				position: absolute;
				color: white;
				background-color: brown;
				margin: 0;
				text-transform: uppercase;
				padding: 7px 34px;
				transform: rotate(-90deg);
				left: -64px;
				top: 67px;
				font-weight: bold;
			}
			
			&__items {
				width: calc(100% - 50px);
				padding-left: 0;
				margin-left: 50px;
				list-style-type: none;
			}
		}
	}
	
	& .expenses {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			
		.expenses {			
			&__title {
				position: absolute;
				color: white;
				background-color: blue;
				margin: 0;
				text-transform: uppercase;
				padding: 7px 64px;
				transform: rotate(-90deg);
				left: -96px;
				top: 97px;
				font-weight: bold;
			}
			
			&__items {
				width: calc(100% - 50px);
				padding-left: 00;
				margin-left: 50px;
				list-style-type: none;
			}
		}
	}
	
	&__moneyFlow {
		display: grid;
		grid-template-columns: auto 100px;
		
		.moneyFlow {
			&__title {
				position: relative;
				color: green;
				margin: 0;
				font-weight: bold;
				
				& button {
					position: absolute;
					transform: scale(0.8, 0.4);
					right: 16px;
					top: -4px;
				}
			}
		}
	}
	
	& .big-path-card {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
			
		.big-path-card {			
			&__title {
				position: absolute;
				background-color: brown;
				width: 40px;
				height: 85px;
				margin: 0;
				left: 5px;
				top: 0;
			}
			
			&__items {
				width: calc(100% - 50px);
				padding-left: 0;
				margin-left: 50px;
				list-style-type: none;
			}
		}
	}
}