.two-columns-list {
	display: grid;
	grid-template-columns: auto 100px;
	gap: 5px;
	margin-bottom: 4px;
	
	&__title,
	&__value {
		border: 1px solid black;
		padding: 0 4px;
	}
	
	&__title {
		position: relative;
		font-weight: bold;
		
		& button {
			position: absolute;
			transform: scale(0.8, 0.4);
			right: 10px;
			top: -7px;
		}
	}
}