.two-columns-table,
.arithmetic-table {
	&__remove-button {		
		position: relative;
		top: 7px;
	}
	
	&__total {
		font-weight: bold;
	}
}

.arithmetic-table {
	&__total-title {
		color: green !important;
		font-weight: bold;
	}
	
	&__total {
		padding-left: 10px !important;
		font-weight: bold;
	}
}

.actions-table {
	&__total-title {
		color: green !important;
		font-weight: bold;
	}
	
	&__total {
		padding-left: 10px !important;
	}
}