.game-card {
	position: relative;
	background-color: lightgreen;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px;
	
	&__remove-button {
		position: absolute;
		right: 10px;
		top: 10px;
	}
	
	&__sub-title {
		display: flex;
		justify-content: flex-start;
	}
	
	&__gamer {
		display: flex;
		justify-content: flex-start;
		
		&-property {
			margin: 0 10px 0 0;
		}
	}
}