.gamer-card {
	color: white;
	border-radius: 10px;
	border: 4px solid;
	min-width: 200px;
	margin: 20px;
	padding: 10px;
	transition: all 0.4s;
	
	&__name {
		text-align: center;
		text-overflow: ellipsis;
	}
	
	&__path {
		color: yellow;
	}
}